<!DOCTYPE html>
<html style="margin:0;">
<head>
<style>
@media only screen and (min-device-width:200px) and (max-device-width:440px){
	body, div{min-width: 360px;}


}
</style>
</head>
<body style=
	"height:80vh;
	 min-width:60vw;
	 background:#F5EBEB;
	 margin:auto;">
<h2 style=
	"width:100%;
	 color:#FC2947;
	 font-family:Arial;">
   User Details
</h2>
<div style=
	"width:55vw;
	 margin-top:15vh;">
<table style=
    "border:2vh solid violet;border-radius:2vh;
     table-layout:fixed;
     text-align:left;
     font-family:Helvetica;
     margin-left:auto;
     margin-right:auto;
     background:white;
     overflow-x:auto;">
 <tr style=
	"border:none;
	 padding:0.5vh;
	 margin:10vh;">
  <th style="border:none;padding:2vh;">Name:</th>
  <td style="border:none;padding:2vh;">{{Name}}</td>
 </tr>
 <tr>
  <th style="border:none;padding:2vh;">Email:</th>
  <td style=
  	"border:none;
    	 padding:2vh;
    	 word-wrap:break-word">{{Email}}</td>
 </tr>
 <tr>
  <th style="border:none;padding:2vh;">Message:</th>
  <td style=
	  "border:none;
	  padding:2vh;
	  word-wrap:break-word">
     {{Message}}
  </td>
 </tr>
 <tr>
  <th style="border:none;padding:2vh;">Mobile no:</th>
  <td style="border:none;padding:2vh;">{{Contact}}</td>
 </tr>
</table>
</div>
</body>
</html>



